---
avi_credentials:
  controller: "{{ ansible_host }}"
  username: admin
  password: password123
  api_version: 21.1.4
upgrade_file_location: controller.pkg
#disruptive_upgrade: default is false
#suspend_on_failure: default is true
#action_on_error: default is SUSPEND_UPGRADE_OPS_ON_ERROR (possible options: ROLLBACK_UPGRADE_OPS_ON_ERROR, SUSPEND_UPGRADE_OPS_ON_ERROR, CONTINUE_UPGRADE_OPS_ON_ERROR) 
ansible_python_interpreter: "{{ ansible_playbook_python }}"